<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/1.css" media="all" type="text/css">
    <link rel="stylesheet" href="css/mob.css" media="only screen and (max-device-width: 600px)" type="text/css">
    <link rel="stylesheet" href="css/nav.css">
    <meta charset="UTF-8">
    <meta name="description" content="{{page.description}}" />
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    <meta name="robots" content="{{page.index}}INDEX,FOLLOW" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- <div class="ban"> 
    <h1><span class = "color_15"> Yutong Xie </span></h1>
    <h6 class="font_6" style="font-size:20px"><span style="font-family:noticia text,serif"><span class="color_15"><span style="font-style:italic"><a href="https://www.mingmeganju.com" target="undefined">Ph.D. in&nbsp;Finance</a></span></span></span></h6>
</div> -->

<body id="{{ page.id }}">