<header>
    <div class="topnav">
        <div class="topnav-right">
            <a href="index.html">Home</a>
            <a href="CV.pdf">CV</a>
            <a href="Research.html">Research</a>
            <a href="Teaching.html">Teaching</a>
			<div class="dropdown">
				<button class="dropbtn">Dropdown
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="#">Link 1</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
				</div>
			</div>
            <a href="Resources.html">Resources</a>
            <a href="about.html">About</a>
        </div>
    </div>
</header>